@page "/customers"
@page "/"
@using System.ComponentModel
<h1>Customers</h1>
@inject ModalService _modalService
<div class="row">
    <div class="col col-md-12">
        <Button Type="primary" style="margin:10px;float:right;" OnClick="@(()=> { editModalVisible = true;BindCustomer(null); })">New Customer</Button>
    </div>
    
</div>


<Table DataSource="@CustomerList" ClientSide Total="CustomerList.Count()" PageSize="100">
    <Column @bind-Field="context.Name"></Column>
    <Column @bind-Field="context.To">
        @((MarkupString)context.To)
    </Column>
    <Column @bind-Field="context.ShipTo">
        @((MarkupString)context.ShipTo)
    </Column>
    <Column @bind-Field="context.CustomerHistories">
        @foreach (var customerHistory in context.CustomerHistories)
        {
            <Card Bordered="true">
                <Row>
                    <Tag Color="green">     @customerHistory.StartDate.ToString("yyyy/MM/dd")</Tag>
                    <Icon Type="arrow-right"></Icon>
                    <Tag Color="red">    @customerHistory.EndDate.ToString("yyyy/MM/dd")</Tag>
                    <del>   $@string.Format("{0:n0}", customerHistory.YearlyManDayCost)</del>
                    $@string.Format("{0:n0}", customerHistory.YearlyManDayDiscountedCost)
                </Row>
            </Card>
        }
    </Column>
    <Column TData="string" Title="Action">
        <Button Type="primary" OnClick="@(()=> { editModalVisible = true;BindCustomer(context.ID); })"> Edit</Button>
        <Button Danger Type="primary"> Delete</Button>
    </Column>
</Table>

<Modal Title="@("Edit Customer")"
       Visible="@(editModalVisible)"
       OnCancel="@(()=> { editModalVisible = false; })"
       Width="900"
       Closable="true"
       OnOk="SaveCustomer"
       MaskClosable="false">


    <Form Model="@EditCustomer"
          LabelCol="new ColLayoutParam { Span = 8 }"
          WrapperCol="new ColLayoutParam { Span = 16 }">
        <FormItem Label="Name">
            <Input @bind-Value="EditCustomer.Name" />
        </FormItem>
        <FormItem Label="To">
            <TextArea @bind-Value="EditCustomer.To" />
        </FormItem>
        <FormItem Label="Ship To">
            <TextArea @bind-Value="EditCustomer.ShipTo" />
        </FormItem>

        <FormItem Label="Yearly Manday Details">
            <Row>
                <Col Span="2" Offset="22">
                <Icon Type="plus" OnClick="AddYearlyManday" />
                </Col>
            </Row>
            @if (context.CustomerHistories != null)
            {
                <Table DataSource="context.CustomerHistories" ClientSide Context="subContext" ShowPagination="false">
                    <Column @bind-Field="subContext.StartDate">
                        <AntDesign.DatePicker @bind-Value="subContext.StartDate" DefaultValue="subContext.StartDate" />
                    </Column>
                    <Column @bind-Field="subContext.EndDate">
                        <AntDesign.DatePicker @bind-Value="subContext.EndDate" DefaultValue="subContext.EndDate" />
                    </Column>
                    <Column @bind-Field="subContext.YearlyManDayCost">
                        <AntDesign.InputNumber @bind-Value="subContext.YearlyManDayCost">
                        </AntDesign.InputNumber>
                    </Column>
                    <Column @bind-Field="subContext.YearlyManDayDiscountedCost">
                        <AntDesign.InputNumber @bind-Value="subContext.YearlyManDayDiscountedCost">
                        </AntDesign.InputNumber>
                    </Column>
                    <Column TData="string" Title="">
                        <Icon Type="delete" OnClick="@(()=> {
                                                             Action<MouseEventArgs> onOk = (e) => {DeleteYearlyManday(subContext.ID);};

_modalService.Confirm(new ConfirmOptions()
{
Title="Confirmation" ,
Content="Do you want to delete this item?" ,
OnOk=new EventCallback<MouseEventArgs>(this, onOk)   ,
OnCancel =null
});
})"></Icon>
                    </Column>

                </Table>
            }
        </FormItem>

    </Form>


</Modal>
